:root{
    --primary:rgba(234, 252, 69, 0.65);
    --secondary:hsla(230,96%,62%,0.65);
}
body{
    margin: 0;
    padding: 0;
    background:linear-gradient(135deg,var(--primary),var(--secondary)),
                 url('background_image1.jpg') no-repeat center center fixed;
    background-size: cover;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.fields{
    margin: 10px 20px;
    padding: 0.7rem;
    border-radius: 0.2rem;
    border: none;
    outline: none;
    font-family:'Montserrat', sans-serif;
    color:#2c5356;
    font-weight: 700;
    font-size: 1.3rem;
    background:linear-gradient(150deg,#cbc4ee,#20BDFF,#A5FECB);
    caret-color: #ec38bc;
}

.sub{
    margin: 10px 20px;
    padding: 0.7rem;
    border-radius:0.2rem ;
    border: none;
    outline: none;
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    background: linear-gradient(80deg,#03001e,#7303c0,#ec38bc,#fdeff9);
    color: whitesmoke;
}
.sub:hover{
    opacity: 0.9;
}
.eye-open{
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    transform: translateX(16rem) translateY(-3rem);
}
.eye-hide{
    background-image: url("eye_hide.png");
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    transform: translateX(16rem) translateY(-3rem);
}
.eye:hover{
    background-color: rgba(0, 0, 0, 0.089);
}

